<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" integrity="sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ==" crossorigin="anonymous" />
  <title>booklist</title>
</head>
<body>
  <div class="container">
    <h1>Kitob qo'shish</h1>
    <form id="book-form" method="POST">
      <div>
        <label for="title">Kitob nomi</label>
        <input type="text" id="title" name="title" class="u-full-width">
      </div>
      <div>
        <label for="author">Muallif</label>
        <input type="text" id="author" name="author" class="u-full-width">
      </div>
      <div>
        <label for="genre">Janr</label>
        <input type="text" id="genre" name="genre" class="u-full-width">
      </div>
      <button type="submit">SUBMIT</button>
    </form>

    <hr>
    <table class="u-full-width">  
      <thead>
        <tr>
          <th>Nomi</th>
          <th>Muallif</th>
          <th>Janr</th>
        </tr>
      </thead>
    </table>



  </div> <!-- container -->
 








</body>
</html>